In [1]:
# The code was removed by Watson Studio for sharing.

Waiting for a Spark session to start...
Spark Initialization Done! ApplicationId = app-20181001163540-0000

,AccountID,Acc Age,DebtValue,RepaymentProfile,HadDishonouredPayment,PaymentMethod,ProductType,ProductCode,PrimaryContactChannel,Income,Cust Age,Dependents,Occupation,MaritalStatus,CustomerGeoClass
0,ID003,4.870913,835.204419,Regular,F,Cheque or Cash Payment,C,C2,Phone,71197.069715,54.729634,1,Trade,Single,town-middle income
1,ID004,9.023449,631.919888,Regular,F,Standing Order Plan,C,C1,Phone,69418.303607,49.546689,1,Manager,Single,suburban-middle income
2,ID007,6.552271,198.703759,LumpSumOverpayer,F,Debit Card Payment,D,D4,Mail,59170.834403,40.507425,0,Professional,Married,inner-city-low income
3,ID0011,8.519854,205.626920,RegularOverpayer,F,Debit Card Payment,D,D2,Mail,71688.069356,50.197568,1,Professional,Married,suburban-middle income
4,ID0012,5.409104,389.867510,Regular,F,Direct Debit Plan,D,D4,Phone,59578.741717,51.769233,0,Trade,Divorced,town-middle income